$ff: 'serif';
$bg: pink;
$h1: black;

@import 'colors';
@import 'mixins';

body {
    background: $bg;
    font-family: $ff;
    color: $h1;
}

h1 {
    color: $h1;
}

#box {
    background: red;
    @include border-radius(12px);
    height: 120px;
    width: 120px;
}

.container {
    ul li {
        padding: 10px;
    }
}